body, html
{
	/*background: url("Images/Bookend_bg.png") no-repeat fixed center;*/
	height: 100%;
    margin: 0;

	background-color: black;
    background-size: 1000px;

	margin:0;
	font-family: 'Amatic SC', cursive;
	font-family: 'Coming Soon', serif;
}

div.top_bar
{
    padding: 25px
}

div.top_bar_home
{
    float: left;
}

img.title_home
{
    max-width: 20vw; /*110px;*/
    max-height: 13.9vw; /*76.5px;*/
}

.top_bar_links a
{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 3vw;
}

.top_bar_links a:hover
{
	color: white;
	font-size: 4vw;
	align: center;
}

.title_anim
{
    margin: 5px;
}

#EdgeID
{
    width: 50vw; /*110px;*/
    height: 34.7vw; /*76.5px;*/
    padding-left: 2vw;
}

p.text
{
    color: white;
    text-align: center;
    font-size: 10wv;
    letter-spacing: 2px;
    padding: 0 10vw;
}

iframe.video
{
    border: none;
    width: 50vw; /*110px;*/
    height: 34.7vw; /*76.5px;*/
}

div.middle_content
{
    padding: 100px;
}

div.column
{
    float: left;
	text-align: center;
	width: 20%;
}

/* Clear floats after the columns */
div.row:after
{
    content: "";
    display: table;
    clear: both;
}

a
{
  color: #CCC;
  text-decoration: none;
  font-size: 35px;
  -webkit-transition: color 0.4s ease;
  -webkit-transition: font-size 0.4s ease;
}

a:hover
{
	color: white;
	font-size: 50px;
}