body, html
{
	/*background: url("Images/Bookend_bg.png") no-repeat fixed center;*/
	height: 100%;
    margin: 0;

	background-color: black;
    background-size: 1000px;

	margin:0;
	font-family: 'Amatic SC', cursive;
	font-family: 'Coming Soon', serif;
}

div.top_bar
{
    padding: 25px
}

div.top_bar_home
{
    float: left;
}

img.title_home
{
    max-width: 20vw; /*110px;*/
    max-height: 13.9vw; /*76.5px;*/
}

.top_bar_links a
{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 3vw;
}

.top_bar_links a:hover
{
	color: white;
	font-size: 4vw;
	align: center;
}

.about
{
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 25px 25px;
    text-align: justify;
}

.in_game
{
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 25px 25px;
}

.title_anim
{
    margin: 0 auto; /*margin: 5px;*/
}

#EdgeID
{
    width: 35vw; /*110px;*/
    height: 25vw; /*76.5px;*/
}

p.text
{
    color: white;
    text-align: center;
    font-size: 2vw;
    letter-spacing: 2px;
    padding: 0 10vw;
}

iframe.video
{
    border: none;
    width: 65vw; /*110px;*/
    height: 45vw; /*76.5px;*/
}

div.middle_content
{
    padding: 100px;
}

div.column
{
    float: left;
	text-align: center;
	width: 20%;
}


div.row
{
    /*content: "";*/
    display: table;
    clear: both;
    margin: auto;
}

.ss_left
{
    float: left;
    width: 35vw;
    height: 25vh;
    max-width: 300px;
    max-height: 250px;
}

.ss_right
{
    float: right;
    width: 35vw;
    height: 25vh;
    max-width: 300px;
    max-height: 250px;
}

.ss
{
    padding: 25px 20px;
}

.download
{
    font-size: 4vw;
}

.download:hover
{
    font-size: 6vw;
}

a
{
  color: #CCC;
  text-decoration: none;
  font-size: 35px;
  -webkit-transition: color 0.4s ease;
  -webkit-transition: font-size 0.4s ease;
}

a:hover
{
	color: white;
	font-size: 50px;
}

h1
{
    text-align: center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .ss_left
    {
        float: none;
    }


    .ss_right
    {
        float: none;
    }

    .ss
    {
        width: 65vw; /*110px;*/
        height: 45vh; /*76.5px;*/
    }

    .download
    {
        font-size: 0;
    }

    .download:hover
    {
        font-size: 0;
    }
}